body {
  background: white;
  margin: 0;
}

.content{
    min-height: calc(100% - 80px - 51px);
    width: 80%;
    margin: 0 auto;
}

.header {
  height: 80px;
  border-bottom: rgb(155, 6, 155) solid 4px;
  text-align: center;
  font-weight: bold;
  font-size: 2.75em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 80px;
}

.footer {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid black;
  text-align: center;
}
