{% extends "base.html" %} 

{% block title %} Home {% endblock %} 

{% block header %}
<div class="header-title">
    Golf Specs
</div>
{% endblock %} 

{% block content %}
<dir>
    <div> Welcome to Golf Club Specs, Please Select your user!</div>
    <ul>
        {% for user in users %}
            <li>
                <a href= {{ url_for('user', user_id= user['id'])}}>
                    {{user['name']}}
                </a>
            </li>
        {% endfor %}
    </ul>
</dir>
{% endblock %}